<div>
  <table class="table table-hover table-boldered table-striped custab">
    <thead>
      <tr>
        <th>职位</th>
        <th>工作种类</th>
        <th>工资</th>
        <th>公司名称</th>
        <th>工作地点</th>
        <th>发布时间</th>


        <% if !current_user || !current_user.is_admin? %>
        <th>申请职位</th>
        <% end %>
      </tr>
    </thead>
      <tbody>
        <% @jobs.each do |job| %>
          <tr>
            <td><%= link_to(job.title, job_path(job)) %></td>
            <td><%= link_to(job.category_name, '/jobs/search?utf8=✓&q=' + job.category_name) %></td>
            <td><span class="label label-default"><%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %></span></td>
            <td><%= link_to(job.company_name, '/jobs/search?utf8=✓&q=' + job.company_name) %></td>
            <td><span class="fa fa-map-marker"></span> <%= link_to(job.location, '/jobs/search?utf8=✓&q=' + job.location)%></td>
            <td><%= job.created_at %></td>
            <% if !current_user || !current_user.is_admin? %>
              <td><%= link_to("申请职位", new_job_resume_path(job), class: "btn btn-primary btn-sm")%></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= will_paginate(@jobs, renderer: BootstrapPagination::Rails) %>
    </div>

</div>
