<div class="col-md-12 show">

  <%= link_to(jobs_path, class: "btn btn-default back-btn") do  %>
    <span class="fa fa-arrow-left" style="margin-right: 10px;"></span>返回工作列表
  <% end %>
    <h1><%= @job.title%> </h1>
    <p class="company_name"><%= link_to(@job.company_name, '/jobs/search?utf8=✓&q=' + @job.company_name) %></p>
    <div class="pull-right">
      <% if current_user && current_user.is_applier_of?(@job) %>
        <label class="label label-success">已申请</label>
      <% else %>
        <% if !current_user.is_admin %>
          <%= link_to("申请职位", new_job_resume_path(@job), class: "btn btn-lg btn-primary")%>
          <label class="label label-warning">还未申请该职位</label>
        <% end %>
      <% end %>
      <br>
    </div>

    <p class="info">
        <span class="salary"> <span class="label label-default"><%= @job.wage_lower_bound %></span> ~ <span class="label label-default"><%= @job.wage_upper_bound %></span> </span>
        <span>/</span>
        <span><span class="fa fa-map-marker"></span><%= @job.location %></span>
        <span>/</span>
        <span><span class="fa fa-calendar"></span><%= @job.created_at %> 发布</span>
    </p>
    <p class="description-title"><strong>职位详情：</strong></p>
    <p class="description">
      <%= render_job_description(@job) %>
    </p>
</div>
