<div class="col-md-12">
  <h2>我已申请的职位</h2>
  <hr>
  <table class="table table-hover table-boldered table-striped">
    <thead>
      <tr>
        <th>职位</th>
        <th>工作种类</th>
        <th>简介</th>
        <th>已申请人数</th>
        <th>工资</th>
        <th>公司名称</th>
        <th>公司地点</th>
        <th>发布时间</th>  
      </tr>
    </thead>
      <tbody>
        <% @jobs.each do |job| %>
          <tr>
            <td><%= link_to(job.title, job_path(job)) %></td>
            <td><%= link_to(job.category_name, '/jobs/search?utf8=✓&q=' + job.category_name) %></td>
            <td><%= job.description %> </td>
            <td><%= job.resumes.count %></td>
            <td><span class="label label-default"><%= job.wage_lower_bound %> - <%= job.wage_upper_bound %></span></td>
            <td><%= link_to(job.company_name, '/jobs/search?utf8=✓&q=' + job.company_name) %></td>
            <td><span class="fa fa-map-marker"></span> <%= job.location %></td>
            <td><%= job.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= will_paginate @jobs, renderer: BootstrapPagination::Rails %>
    </div>
</div>
