<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">
</head>
    <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >
        <ol class="carousel-indicators">
            <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
            <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
            <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="https://static.pexels.com/photos/297755/pexels-photo-297755.jpeg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                <div class="bs-slider-overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="slide-text slide_style_left">
                            <h1 data-animation="animated zoomInRight">新时代招聘网</h1>
                            <p data-animation="animated fadeInLeft">给你提供无限可能</p>
                            <a href="/jobs"  class="btn btn-default" data-animation="animated fadeInLeft">投递简历</a>
                            <a href="/admin/jobs"  class="btn btn-primary" data-animation="animated fadeInRight">发布职位</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="https://static.pexels.com/photos/348323/pexels-photo-348323.jpeg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                <div class="bs-slider-overlay"></div>
                <div class="slide-text slide_style_center">
                    <h1 data-animation="animated flipInX">新时代招聘网</h1>
                    <p data-animation="animated lightSpeedIn">我们会送你到新时代的风口</p>
                    <a href="/jobs"  class="btn btn-default" data-animation="animated fadeInUp">投递简历</a>
                    <a href="/admin/jobs"   class="btn btn-primary" data-animation="animated fadeInDown">发布职位</a>
                </div>
            </div>
            <div class="item">
                <img src="https://static.pexels.com/photos/6224/hands-people-woman-working.jpg" alt="Bootstrap Touch Slider"  class="slide-image"/>
                <div class="bs-slider-overlay"></div>
                <div class="slide-text slide_style_right">
                    <h1 data-animation="animated zoomInLeft">新时代招聘网</h1>
                    <p data-animation="animated fadeInRight">你不是一个人在战斗</p>
                    <a href="/jobs"  class="btn btn-default" data-animation="animated fadeInLeft">投递简历</a>
                    <a href="/admin/jobs"  class="btn btn-primary" data-animation="animated fadeInRight">发布职位</a>
                </div>
            </div>
          </div>
            <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>

<!-- container (关于我们)  -->
<div id="about" class="container-fluid about">
  <div class="col-3 clearfix advantage">
    <div class="row">
      <div class="col-md-8 col-xs-8">
        <h2>为您提供无限可能</h2>
        <div class="short-line"></div>
        <p>新时代招聘网是国内线上O2O招聘模式的倡导者，为企业和人才提供一站式人力资源综合解决方案。<br/>致力于实现企业和人才的高效对接。<br/>是找工作、求职、招聘的优选平台。</p><br/>
      </div>
      <div class="col-md-4 col-xs-4">
        <i class="fa fa-superpowers logo" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>

<div id="services">
  <section class="container-fluid odd">
    <div class="section-content">
      <h2 class="section-title">服务优势</h2>
      <div class="short-line"></div>

      <div class="col-3 clearfix advantage">
        <div class="row">
          <div class="col-sm-4">
            <div class="item fl">
              <i class="fa fa-clock-o advantage-img" aria-hidden="true"></i>
              <br>
              <h3 class="advantage-title">各大公司实时更新职位</h3>
              <p>我们为你提供最新职位薪酬信息</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="item fl">
              <i class="fa fa-fighter-jet advantage-img"></i>
              <br>
              <h3 class="advantage-title">极速高效反馈</h3>
              <p>24小时收割企业反馈</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="item fl">
              <i class="fa fa-lock advantage-img"></i>
              <br>
              <h3 class="advantage-title">隐私安全保护</h3>
              <p>32项隐私保护规避求职风险</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<! --火热职位--!>
<div id="hotjobs">
  <section class="container-fluid hot-jobs-category">
      <h2 class="section-title">火热职位</h2>
      <div class="short-line"></div>
      <div class="row text-center hjc-ul">
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail">
            <a href="/jobs/search?utf8=✓&q=IT工程师">
              <div class="hjc-img-wrap">
                <img class="project-img img-responsive" src="<%= image_url 'developer.jpg' %>" alt="">
              </div>
              <div class="title">IT工程师</div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail">
            <a href="/jobs/search?utf8=✓&q=产品经理">
              <div class="hjc-img-wrap">
                <img class="project-img img-responsive" src="<%= image_url 'product_manager.jpeg' %>" alt="">
              </div>
              <div class="title">产品经理</div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail">
            <a href="/jobs/search?utf8=✓&q=设计师">
              <div class="hjc-img-wrap">
                <img class="project-img img-responsive" src="<%= image_url 'designer.jpg' %>" alt="">
              </div>
              <div class="title">设计师</div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail">
            <a href="/jobs/search?utf8=✓&q=广告创意">
              <div class="hjc-img-wrap">
                <img class="project-img img-responsive" src="<%= image_url 'advertising1.jpg' %>" alt="">
              </div>
              <div class="title">广告创意</div>
            </a>
          </div>
        </div>
      </div>
      <div class="row text-center hjc-ul">
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail">
            <a href="/jobs/search?utf8=✓&q=市场与销售">
              <div class="hjc-img-wrap">
                <img class="project-img img-responsive" src="<%= image_url 'business.jpg' %>" alt="">
              </div>
              <div class="title">市场与销售</div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail">
            <a href="/jobs/search?utf8=✓&q=生成制造">
              <div class="hjc-img-wrap">
                <img class="project-img img-responsive" src="<%= image_url 'manufacting.jpg' %>" alt="">
              </div>
              <div class="title">生产制造</div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail">
            <a href="/jobs/search?utf8=✓&q=金融">
              <div class="hjc-img-wrap">
                <img class="project-img img-responsive" src="<%= image_url 'finance.jpeg' %>" alt="">
              </div>
              <div class="title">金融</div>
            </a>
          </div>
        </div>
        <div class="col-md-3 col-sm-4">
          <div class="thumbnail">
            <a href="/jobs" class="more">
              <div class="hjc-img-wrap">
                <img class="project-img img-responsive" src="<%= image_url 'jobs.jpg' %>" alt="">
              </div>
              <div class="title text-center">查看所有职位</div>
            </a>
          </div>
        </div>
      </div>
  </section>
</div>

<div id="userstory">
  <section id="userstory" class="container-fluid odd">
    <div class="section-content other">
      <h2 class="section-title">用户反馈</h2>
      <div class="short-line"></div>
      <div class="col-3 home-people clearfix">
        <div class="row">
          <div class="col-sm-4">
            <div class="item person fl">
              <div class="avata-wrapper">
                <img class="avata" src="<%= image_url 'user1.jpeg' %>">
              </div>
              <div class="intro clearfix">
                <div class="name">
                  Lily（面试者）
                </div>
              </div>
              <div class="words">
                <span class="bg"></span>
                <div class="content">行业覆盖面大，整体数据量巨大，有大量的优秀公司在这里发布职位。能迅速的找到自己心仪的工作！</div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="item person fl">
              <div class="avata-wrapper">
                <img class="avata" src="<%= image_url 'user2.jpeg' %>">
              </div>
              <div class="intro clearfix">
                <div class="name">
                  Raimon（面试者）
                </div>
              </div>
              <div class="words">
                <span class="bg"></span>
                <div class="content">互联网招聘效果很靠谱，在新时代就应该用新时代招聘网！</div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="item person fl">
              <div class="avata-wrapper">
                <img class="avata" src="<%= image_url 'user3.jpeg' %>">
              </div>
              <div class="intro clearfix">
                <div class="name">
                  Sara（招聘者）
                </div>
              </div>
              <div class="words">
                <span class="bg"></span>
                <div class="content">人才资源质量很高，数量也具有一定规模，只要来到这里，总有办法找到合适的人才！</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- bottom -->
<div id="bottom" class="container-fluid">
    <div class="row">
      <div class="col-md-6 bottom-content">
        <h2>你是行业里的专业人士吗？</h2>
        <h2>各大公司已发布优质职位</h2>
        <a href="/jobs" class="btn btn-lg btn-default">马上投递简历</a>
      </div>
      <div class="col-md-6 bottom-content">
        <h2>你还在为找不到优质人才而烦恼吗？</h2>
        <h2>高端人才已虚位以待</h2>
        <a href="/admin/jobs" class="btn btn-lg btn-default">马上发布职位</a>
      </div>
    </div>
</div>




<div id="sidebar" class="sidebar">
  <ul>
    <li class="backtop"><i class="fa fa-arrow-circle-up"></i></li>
    <li class="support">
      <i class="fa fa-thumbs-o-up"></i>
      <div class="ewm">
        <p>
          觉得不错嘛？<br>
          来，动动小手<br>
          <a href="https://fullstack.xinshengdaxue.com/works/312" target="_blank">帮我投个票</a><br>
          谢谢^_^
        </p>
      </div>
    </li>
  </ul>
</div>

<!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })

    $('#bootstrap-touch-slider').bsTouchSlider();

    </script>

   <script>
    $(document).ready(function () {
    $('.material-button-toggle').click(function () {
        $(this).toggleClass('open');
        $('.option').toggleClass('scale-on');
    });
   });
   </script>
   <! --添加导航栏点击跳转动画-- ->
   <script>
   $(document).ready(function(){
     // Add smooth scrolling to all links in navbar + footer link
     $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

      // Make sure this.hash has a value before overriding default behavior
     if (this.hash !== "") {

       // Prevent default anchor click behavior
       event.preventDefault();

       // Store hash
       var hash = this.hash;

       // Using jQuery's animate() method to add smooth page scroll
       // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
       $('html, body').animate({
         scrollTop: $(hash).offset().top
       }, 900, function(){

         // Add hash (#) to URL when done scrolling (default click behavior)
         window.location.hash = hash;
         });
       } // End if
     });
   })
   </script>
