<div class="banner">
  <div class="jumbotron">
    <div class="text-content">
      <h1 class="title">新时代招聘网</h1>
      <p class="slogan">
        在这里，你可以找到高薪优质的工作<br/><br/>
        在这里，你可以找到更多更好的人才
      </p>
      <p class="lead"><a class="btn btn-lg b-btn" href="/jobs">投个简历</a></p>
    </div>
  </div>
</div>

<section class="odd">
  <div class="section-content">
    <h2 class="section-title">我们的职责是帮你高效地找工作</h2>

    <div class="col-3 clearfix advantage">
      <div class="row">
        <div class="col-sm-4">
          <div class="item fl">
            <img class="advantage-img" src="http://oggx6lf7f.bkt.clouddn.com/hlkro.png">
            <br>
            <h3 class="advantage-title">各大公司实时更新职位</h3>
            <p>我们为您提供最新职位薪酬信息</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="item fl">
            <img class="advantage-img" src="<%= image_url 'send.png' %>">
            <br>
            <h3 class="advantage-title">极速高效反馈</h3>
            <p>24小时收割企业反馈</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="item fl">
            <img class="advantage-img" src="<%= image_url 'padlock.png' %>">
            <br>
            <h3 class="advantage-title">隐私安全保护</h3>
            <p>32项隐私保护规避求职风险</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hot-jobs-category">
  <div class="section-content">
    <h2 class="section-title">正在火热招聘的职业</h2>
    <ul class="hjc-ul">
      <li>
        <a href="/jobs/search?utf8=✓&q=IT工程师">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="<%= image_url 'developer.jpg' %>" alt="">
          </div>
          <div class="title">IT工程师</div>
        </a>
      </li>
      <li>
        <a href="/jobs/search?utf8=✓&q=产品经理">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="<%= image_url 'product_manager.jpeg' %>" alt="">
          </div>
          <div class="title">产品经理</div>
        </a>
      </li>
      <li>
        <a href="/jobs/search?utf8=✓&q=设计师">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="<%= image_url 'designer.jpg' %>" alt="">
          </div>
          <div class="title">设计师</div>
        </a>
      </li>
      <li>
        <a href="/jobs/search?utf8=✓&q=广告创意">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="<%= image_url 'advertising1.jpg' %>" alt="">
          </div>
          <div class="title">广告创意</div>
        </a>
      </li>
      <li>
        <a href="/jobs/search?utf8=✓&q=市场与销售">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="<%= image_url 'business.jpg' %>" alt="">
          </div>
          <div class="title">市场与销售</div>
        </a>
      </li>
      <li>
        <a href="/jobs/search?utf8=✓&q=职能">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="<%= image_url 'manufacting.jpg' %>" alt="">
          </div>
          <div class="title">生产制造</div>
        </a>
      </li>
      <li>
        <a href="/jobs/search?utf8=✓&q=金融">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="<%= image_url 'finance.jpeg' %>" alt="">
          </div>
          <div class="title">金融</div>
        </a>
      </li>
      <li>
        <a href="/jobs" class="more">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="<%= image_url 'jobs.jpg' %>" alt="">
          </div>
          <div class="title">查看所有职位</div>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="odd">
  <div class="section-content other">
    <h2 class="section-title">听听他们怎么说</h2>
    <div class="col-3 home-people clearfix">
      <div class="row">
        <div class="col-sm-4">
          <div class="item person fl">
            <div class="avata-wrapper">
              <img class="avata" src="<%= image_url 'user1.jpeg' %>">
            </div>
            <div class="intro clearfix">
              <div class="name">
                Lily（面试者）
              </div>
            </div>
            <div class="words">
              <span class="bg"></span>
              <span class="fa fa-quote-left quote quote-l iconfont"></span>
              <span class="fa fa-quote-right quote quote-r iconfont"></span>
              <div class="content">行业覆盖面大，整体数据量巨大，有大量的优秀公司在这里发布职位。能迅速的找到自己心仪的工作！</div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="item person fl">
            <div class="avata-wrapper">
              <img class="avata" src="<%= image_url 'user2.jpeg' %>">
            </div>
            <div class="intro clearfix">
              <div class="name">
                Raimon（面试者）
              </div>
            </div>
            <div class="words">
              <span class="bg"></span>
              <span class="fa fa-quote-left quote quote-l iconfont"></span>
              <span class="fa fa-quote-right quote quote-r iconfont"></span>
              <div class="content">互联网招聘效果很靠谱，在新时代就应该用新时代招聘网！</div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="item person fl">
            <div class="avata-wrapper">
              <img class="avata" src="<%= image_url 'user3.jpeg' %>">
            </div>
            <div class="intro clearfix">
              <div class="name">
                Sara（招聘者）
              </div>
            </div>
            <div class="words">
              <span class="bg"></span>
              <span class="fa fa-quote-left quote quote-l iconfont"></span>
              <span class="fa fa-quote-right quote quote-r iconfont"></span>
              <div class="content">人才资源质量很高，数量也具有一定规模，只要来到这里，总有办法找到合适的人才！</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="sidebar" class="sidebar">
  <ul>
    <li class="backtop"><i class="fa fa-arrow-circle-up"></i></li>
    <li class="support">
      <i class="fa fa-thumbs-o-up"></i>
      <div class="ewm">
        <p>
          觉得不错嘛？<br>
          来，动动小手<br>
          <a href="https://damp-mountain-30017.herokuapp.com" target="_blank">帮我投个票</a><br>
          谢谢^_^
        </p>
      </div>
    </li>
  </ul>
</div>
