<!DOCTYPE html>
<html>
  <head>
    <title>新时代招聘网</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://unpkg.com/element-ui/lib/theme-default/index.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar" %>
        <div>
          <% if current_page?('/') %>
            <div>
          <% else %>
            <div class="container-fluid wrapper-container container">
            <%= render "common/flashes" %>
          <% end %>

            <%= yield %>
      </div>
    </div>
      <%= render "common/footer" %>
  </body>
</html>
